.App {
  text-align: center;
}

body{
  color:#333;
  background-color:  rgba(87, 179, 255, 1);
}

h2{
  color:white;
}

.column{
  width:50%;
  padding:10px;
  box-sizing: border-box;
  float:left;
  height:300px;
  text-align: center;
}

.center-text{
  text-align: center;
}

button{
  padding:20px;
  font-size:2em;
  clear:both;
  -webkit-box-shadow: -18px 10px 85px 0px rgba(135, 135, 135, 0.3);
  -moz-box-shadow: -18px 10px 85px 0px rgba(135, 135, 135, 0.3);
  box-shadow: -18px 10px 85px 0px rgba(135, 135, 135, 0.3);
}
